target/
*.iml
.project
.cache*
.tmp*
.classpath
.settings
bin/
.clover
.DS_Store
localAvro.avro
person_personId.txt
claims.avro
*.orig
partitions_*
.metadata/
*.sc
.worksheet/
.workspace/
.idea/
*.fbExcludeFilterFile
derby.log
*.versionsBackup
fortify-reports
